.container{
    display: flex;
    width: 90vw;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
.ap{
    background-image: url('//1.jpg');
}