.container{
    display: flex;
    width: 90vw;
    background-image: linear-gradient(rgb(0,0,50,0,0.7),rgb(0,0,50,0,0.7),url(jjjj.jpg));
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
.ap{
    background-image: url('1.jpg');
}